[core]
  excludesfile = ~/.gitignore_global
[user]
  name = Rodrigo Nascimento
  email = rodrigocesarnascimento@gmail.com
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[alias]
  aliases=!git config --list | grep alias
  blist=branch -a -v
  new="!f() { git checkout -b ${1}; }; f"
  s=status -sbu
  adog=log --abbrev-commit --decorate --pretty=oneline --graph --max-count=15 --date-order -C -M --pretty=format:'<%h> %ad [%an] %Cgreen%d%Creset %s' --date=short
  fco="!f() { git branch -a -vv --color=always --format='%(refname)' | sed "s_refs/heads/__" | sed "s_refs/remotes/__" | fzf --query="$@" --height=40% --ansi --tac --color=16 --border | awk '{print $1}' | xargs git co; }; f"
  recommit=commit --amend --no-edit
