[core]
  excludesfile = /Users/darth-tyranus/.gitignore_global
[user]
  name = Rodrigo Nascimento
  email = rodrigocesarnascimento@gmail.com
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

[diff]
  tool = meld
[difftool]
  prompt = false
[difftool "meld"]
  trustExitCode = true
  cmd = /Applications/Meld.app/Contents/MacOS/Meld \"$LOCAL\" \"$PWD/$REMOTE\"

[alias]
  aliases = !git config --list | grep alias
  blist = branch -a -v
  cad = commit -am
  co = checkout
  del = branch -d 
  delef = branch -D 
  fall = fetch --all
  forigin = fetch origin 
  meld = difftool  
  newco = checkout -b
  put = !git push origin
  put-wip = !git wip && git put
  put-yolo = !git yolo && git put
  tree = log --graph --date-order -C -M --pretty=format:'<%h> %ad [%an] %Cgreen%d%Creset %s' --all --date=short
  # log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  s = status -sbu
  m = diff --stat
  vlist = branch -a -v
  wip = !git add -A && git commit -m \"WIP\"
  yolo = !git add -A && git commit -m \"$(curl -s whatthecommit.com/index.txt)\"
